<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>doubtMatch</title>
</head>

<body>
  <h1>待機部屋</h1>

  <div th:if="${user}">
    <h2>ようこそ [[${user}]]</h2>
    <h3>全員が揃うまで少しお待ちください</h3>
  </div>

  <br />

  <div>
    <h3>対戦相手</h3>
  </div>

  <br />

  <tbody sec:authorize="hasRole('ROLE_ADMIN')">
    <div>
      <h3><a href="/doubtFightStart">スタート</a></h3>
      <div>あなたがスタートすることで手札が配られます.</div>
    </div>
  </tbody>

  <tbody sec:authorize="hasRole('ROLE_USER')">
    <div>
      <h3><a href="/doubtFight">参加する</a></h3>
      <div>管理者がスタートしています. 参加するを押して参加しましょう.</div>
    </div>
  </tbody>

</body>

</html>
