<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>doubt</title>
</head>

<body>
  <a href="/trump">ゲーム選択へ戻る</a>

  <h1>ダウト (Doubt Game)!</h1>

  <div th:if="${chamber}">
    <h2>ようこそ [[${chamber.name}]]</h2>
    <div>
      <h3>あなたの戦歴</h3>
    </div>
    <div>現在[[${chamber.win}]]勝</div>
  </div>

  <br />

  <div>
    <h3>部屋入室</h3>
  </div>
  <div><a href="/doubtMatch">待機部屋へ</a></div>
  <div>※順番に部屋に割り当てられます.</div>
  <div>初めの入室者が「スタート」を押すとゲームが開始します.※必ず4人が集まってから</div>
</body>

</html>
