<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>memory</title>
</head>

<body>
  <a href="/trump">ゲーム選択へ戻る</a>

  <h1>神経衰弱 (Memory Game)!</h1>

  <div th:if="${chamber}">
    <h2>ようこそ [[${chamber.name}]]</h2>
    <div>
      <h3>あなたの戦歴</h3>
    </div>
    <div>現在[[${chamber.win}]]勝</div>
  </div>

  <br />

  <div>
    <h3>部屋入室</h3>
  </div>
  <div><a href="/memoryMatch">待機部屋へ</a></div>
  <div>※初めの入室者が「スタート」を押すとゲームが開始します.</div>

  <h3>＜簡単なゲーム説明＞</h3>
  <div>裏向きにならべたカードの中から、同じ数字のカードを2枚引き当てるゲームです。</div>
  <div>手札は0枚からはじまって、最後にカードの枚数を1番多く集めた人が勝ちです。</div>
  <div>どこにどのカードがあったのかを覚えておける記憶力が大切です。</div>
</body>

</html>
