<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>shitinarabe</title>

  <script>
    window.onload = function () {
      var sse = new EventSource('/shitinarabeSse');
      sse.onmessage = function (event) {
        var SMatch = JSON.parse(event.data);
        var gameFlag = 0;

        if (SMatch.length < 4) {
          gameFlag = 0;
        }
        if (SMatch.length == 4) {
          gameFlag = 1;
        }

        if (gameFlag == 0) {
          var chamber = "";
          for (var i = 0; i < SMatch.length; i++) {
            chamber = chamber + SMatch[i].name + "<br>";
          }
          var tbody = document.getElementById("chamber");
          tbody.innerHTML = chamber;
        } else if (gameFlag == 1) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var field = "";
          var start = "<a href='/shitinarabeFight'>手札を確認</a>";
          for (var i = 0; i < 4; i++) {
            for (var j = 0; j < 13; j++) {
              field = field + "<a>" + "<img src='/image/背面.png' width='60'>" + "&emsp;&nbsp" + "</a>";
            }
            field = "</br>" + field + "</br>";
          }
          field = start + field;
          var tbody = document.getElementById("field");
          tbody.innerHTML = field;

        }
      }
    }
  </script>
</head>

<body>
  <div id="field">

    <div th:if="${user}">
      <h1>待機部屋</h1>
      <h2>ようこそ [[${user}]]</h2>
      <h3>開始まで少しお待ちください</h3>
    </div>

    <br />

    <div th:if="${SChambers}">
      <h3>入室メンバ</h3>
      <div id="chamber">
        <ul>
          <li th:each="SChambers : ${SChambers}">[[${SChambers.name}]]</li>
        </ul>
      </div>
    </div>

    <br />

    <div th:if="${chamber}">
      <div>参加者を待っています</div>
    </div>

  </div>
</body>

</html>
