<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>the_game</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>The_GAME!</h1>

  <h2>場</h2>

  <div th:if="${the_game_field1}">
    <h3>1</h3>
    <div th:each="the_game_field1 : ${the_game_field1}" style="color: red; display: inline-block; _display: inline;">
      ([[${the_game_field1.number}]])
    </div>
  </div>

  <div th:if="${the_game_field2}">
    <h3>2</h3>
    <div th:each="the_game_field2 : ${the_game_field2}" style="color: red; display: inline-block; _display: inline;">
      ([[${the_game_field2.number}]])
    </div>
  </div>

  <div th:if="${the_game_field3}">
    <h3>3</h3>
    <div th:each="the_game_field3 : ${the_game_field3}" style="color: red; display: inline-block; _display: inline;">
      ([[${the_game_field3.number}]])
    </div>
  </div>

  <div th:if="${the_game_field4}">
    <h3>4</h3>
    <div th:each="the_game_field4 : ${the_game_field4}" style="color: red; display: inline-block; _display: inline;">
      ([[${the_game_field4.number}]])
    </div>
  </div>

  <div th:if="${the_game}">
    <h2>デッキ</h2>
    <div th:each="the_game : ${the_game}">
      <tr>
        <td>([[${the_game.number}]])</td>
      </tr>
    </div>
  </div>

  <div th:if="${tehuda}">
    <h2>手札</h2>
    <div th:each="tehuda : ${tehuda}" style="color: red; display: inline-block; _display: inline;">
      ([[${tehuda.number}]])
    </div>
  </div>

  <form action="/the_game/shouhi" method="post">
    <input type="number" name="id" />の
    <input type="number" name="te" />
    <input type="submit" value="提出">
  </form>

  <div th:if="${error}">
    [[${error}]]
  </div>

  <div th:if="${end}">
    <form action="/the_game/end" method="post">
      <input type="submit" value="end">
    </form>
  </div>

</body>

</html>
