<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>the_gameFight</title>
  <script>
    window.addEventListener('load', () => {
      var sse = new EventSource('/trump/the_gameFight/step1');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var field_list = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var field = "";
        var ba = field_list[0].ba;
        for (var i = 0; i < field_list.length; i++) {
          var number = field_list[i].number;
          field = field + number + ",";
        }
        console.log(field);
        if (ba == 1) {
          field = "↑" + field;
          var div = document.getElementById("field1");
          div.innerHTML = field;
        } else if (ba == 2) {
          field = "↑" + field;
          var div = document.getElementById("field2");
          div.innerHTML = field;
        } else if (ba == 3) {
          field = "↓" + field;
          var div = document.getElementById("field3");
          div.innerHTML = field;
        } else if (ba == 4) {
          field = "↓" + field;
          var div = document.getElementById("field4");
          div.innerHTML = field;
        }
      }
    })
    window.addEventListener('load', () => {
      var sse = new EventSource('/trump/the_gameFight/step2');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var turn_list = JSON.parse(event.data);//JSONオブジェクトとしてparse
        var youkoso = "";
        var tehuda = "";
        for (var j = 0; j < turn_list.length; j++) {
          if (turn_list[j].turn == 1) {
            youkoso = "<h2>" + turn_list[j].name + "番です" + "</h2>";
          }
          tehuda = tehuda + "<div>" + turn_list[j].name + ":" + turn_list[j].tehuda + "枚" + "</div>"
        }
        console.log(youkoso);
        console.log(tehuda);
        var div1 = document.getElementById("youkoso");
        div1.innerHTML = youkoso;
        var div2 = document.getElementById("tehuda");
        div2.innerHTML = tehuda;
      }
    })
  </script>
</head>

<body>
  <h1>The_GAME!</h1>

  <div id="youkoso">
  </div>

  <a href="/trump/the_gameFight/deck">山札の確認</a>
  <div th:if="${deck}">山札の枚数は[[${deck}]]枚です</div>

  <h2>場</h2>

  <h3>1</h3>
  <div id="field1" th:if="${the_game_field1}">↑
    <div th:each="the_game_field1 : ${the_game_field1}" style="display: inline-block; _display: inline;">
      [[${the_game_field1.number}]],
    </div>
  </div>
  <h3>2</h3>
  <div id="field2" th:if="${the_game_field2}">↑
    <div th:each="the_game_field2 : ${the_game_field2}" style="display: inline-block; _display: inline;">
      [[${the_game_field2.number}]],
    </div>
  </div>

  <h3>3</h3>
  <div id="field3" th:if="${the_game_field3}">↓
    <div th:each="the_game_field3 : ${the_game_field3}" style="display: inline-block; _display: inline;">
      [[${the_game_field3.number}]],
    </div>
  </div>

  <h3>4</h3>
  <div id="field4" th:if="${the_game_field4}">↓
    <div th:each="the_game_field4 : ${the_game_field4}" style="display: inline-block; _display: inline;">
      [[${the_game_field4.number}]],
    </div>
  </div>

  <div th:if="${the_game}">
    <h2>デッキ</h2>
    <div th:each="the_game : ${the_game}">
      <tr>
        <td>[[${the_game}]]</td>
      </tr>
    </div>
  </div>

  <div th:if="${tehuda}">
    <h2>手札</h2>
    <div th:each="tehuda : ${tehuda}" style="color: red; display: inline-block; _display: inline;">
      [[${tehuda}]],
    </div>
  </div>

  <div>場1～2は昇順、3～4は降順に並べる(ちょうど10は例外)</div>
  <div>テキストボックスに2つの数字を入れた後提出ボタンを押す</div>

  <form action="/trump/the_gameFight/shouhi" method="post">
    場(1～4の選択)<input type="number" name="id" /> <br />
    手札の選択(赤い数字を選択)<input type="number" name="te" />
    <input type="submit" value="提出">
  </form>

  <div th:if="${error}">
    [[${error}]]
  </div>

  <div th:if="${end}">
    <form action="/trump/the_gameFight/end" method="post">
      <input type="submit" value="end">
    </form>
  </div>

  <form action="/trump/the_gameFight/result" method="post">
    <input type="submit" value="result">
  </form>

  <tbody sec:authorize="hasRole('ROLE_ADMIN')">
    <form action="/trump/the_gameFight/win" method="post">
      <input type="submit" value="山札を0にする">
    </form>
  </tbody>

  <div id="tehuda">
  </div>


</body>

</html>
