<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>trump</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Trump GAME!</h1>

  <tbody sec:authorize="hasRole('ROLE_USER')">
    <ol>
      <li><a href="/doubt">ダウト</a></li>
      <li><a href="/memory">神経衰弱</a></li>
      <li><a href="/trump/the_game">ザ・ゲーム</a></li>
      <li><a href="/shitinarabe">七並べ</a></li>
    </ol>
  </tbody>
  <tbody sec:authorize="hasRole('ROLE_ADMIN')">
    <ol>
      <li><a href="/doubtFight">ダウト(ゲームを見る)</a></li>
      <li><a href="/memory">神経衰弱</a></li>
      <li><a href="/trump/the_game">ザ・ゲーム(ホスト)</a></li>
      <li><a href="/shitinarabe">七並べ</a></li>
    </ol>
  </tbody>
</body>

</html>
